@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>19MY03007-Enes Yıldırım</h1>
   
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Web Uygulamalar-Vize Ödevi</h2>
        <h2>Stok Kontrol Proje</h2>
       
    </div>
  
</div>